.app-sidebar {
    /*overflow: auto;*/
    height: 100vh;
    position: fixed;
    left: 0;
}
.app-sidebar .ant-layout-sider-children {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow-y: auto;
}

.app-sidebar-bottom {
    margin-top: 20px
}

.app-sidebar.ant-layout-sider {
    z-index: 200;
}

.app-sidebar .logo {
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 20px 0;
}

.ant-layout-sider-zero-width-trigger {
    top: 75px;
}
