.app-file-list-images {
  margin-left: -2.5px;
  margin-right: -2.5px;
}
.app-file-list-images .ant-col {
  padding-left: 2.5px;
  padding-right: 2.5px;
}
.app-file-list-files {
  margin-left: -5px;
  margin-right: -5px;
}
.app-file-list-files .ant-col {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}
.app-file-list-file {
  position: relative;
  overflow: hidden;
}
.app-file-list-file-name {
  align-self: center;
  padding-right: 5px;
  font-size: 14px;
  white-space: nowrap;
  flex-grow: 0;
  flex-shrink: 1;
  text-overflow: clip;
  height: 32px;
  line-height: 32px;
}
.app-file-list-file-buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.app-file-list-file-buttons button {
  margin: 0 3px;
}
.app-file-list-file-buttons button:last-child {
  margin-right: 0;
}
.app-file-list-file-buttons button:first-child {
  margin-left: 0;
}
.app-file-list-mask {
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
}
.app-file-list-mask.hover {
  opacity: 1;
}
.app-file-list-mask-name {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 14px;
  max-height: 4em;
  word-break: break-word;
  overflow: hidden;
}
.app-file-list-mask-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-file-list-mask-buttons button {
  margin: 0 3px;
}
.app-file-list-mask-buttons button:last-child {
  margin-right: 0;
}
.app-file-list-mask-buttons button:first-child {
  margin-left: 0;
}
