.app-page-actions
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #fafafa;
  padding-left: 200px;
  box-shadow: 0 1px 7px #9a9a9a;
  transition: padding 0.2s;
  .app-page-actions-wrapper
    padding: 15px 20px 15px;


.ant-layout-sider-collapsed + .app-content-layout
  .app-page-actions
      padding-left: 0;
