.ant-table-content pre
  margin-bottom: 0
.ant-table-row-version-diff
  td
    background: rgba(255, 77, 79, 0.2)

.ant-table-tbody > tr.ant-table-row-version-diff:hover > td
  background: rgba(255, 120, 117, 0.2)
